<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
    
    <ion-grid class="datos-usuario">

      <ion-row class="ion-align-items-center">
        <ion-col size="4">
          <ion-icon class="icon-perfil" name="person-circle-outline"></ion-icon>
        </ion-col>

        <ion-col class="user-data" size="8">
          <ion-text class="user-data-text">
            <span>Juani</span>
            <span>juani432&#64;hotmail.com</span>
          </ion-text>
        </ion-col>
      </ion-row>
      
      <ion-list>
        <ion-item-group>
          <ion-item-divider>
            <ion-label> Api Key </ion-label>
          </ion-item-divider>
      
          <ion-item>
            <ion-label>ada45d4adadw45daqde45879</ion-label>
          </ion-item>
          
        </ion-item-group>
      
        <ion-item-group>
          <ion-item-divider>
            <ion-label> Comunidad Autónoma </ion-label>
          </ion-item-divider>
      
          <ion-item>
            <ion-label>Andalucía</ion-label>
          </ion-item>
          
        </ion-item-group>

        <ion-item-group>
          <ion-item-divider>
            <ion-label> Localidad </ion-label>
          </ion-item-divider>
      
          <ion-item>
            <ion-label>Málaga</ion-label>
          </ion-item>
         
        </ion-item-group>

        <ion-item-group>
          <ion-item-divider>
            <ion-label> Localidad </ion-label>
          </ion-item-divider>
      
          <ion-item>
            <ion-label>B1</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>B2</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label>B3</ion-label>
          </ion-item>
        </ion-item-group>

      </ion-list>

      <ion-button color="primary" class="guardar" (click)="guardarcambios()">Guardar cambios</ion-button>
      <br> 
      <ion-button color="danger" class="logout" fill="outline" (click)="logout()">Cerrar sesión</ion-button>


    </ion-grid>
    
</ion-content>
