<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
    <ion-text class="ion-text-center">
      <h1 class="page-title">Condiciones de uso</h1>
    </ion-text>

  <ion-grid>
    <ion-row>
      <ion-text class="ion-margin">
        <h2 class="contenido">1. Generalidades</h2>
        <p>
          Estas condiciones de uso regulan el acceso y la utilización de la aplicación móvil "Noticias al Día APP" (en adelante, "la Aplicación"), desarrollada por 
          Juan Luis Talavera Peláez (en adelante, "el Desarrollador"). Al descargar y utilizar la Aplicación, usted acepta cumplir con estas condiciones de uso.
        </p>

        <h2 class="contenido">2. Propósito</h2>
        <p>
          La Aplicación ha sido desarrollada con propósitos de desarrollo profesional. Su objetivo es proporcionar información relevante y actualizada sobre
          noticias y el tiempo en el territorio español.
        </p>

        <h2 class="contenido">3. Responsabilidad del Usuario</h2>
        <p>
          El usuario es responsable del uso adecuado de la Aplicación. El uso indebido de la Aplicación, incluyendo pero no limitado a la violación de estas
          condiciones de uso o cualquier actividad ilegal, será responsabilidad exclusiva del usuario.
        </p>

        <h2 class="contenido">4. Actualizaciones de las Condiciones de Uso</h2>
        <p>
          Las condiciones de uso de la Aplicación podrán ser actualizadas periódicamente. Se informará a los usuarios de la existencia de una nueva versión
          de la Aplicación y de las condiciones de uso mediante notificaciones por email.
        </p>

        <h2 class="contenido">5. Recogida y Uso de Datos</h2>
        <p>
          Los datos recopilados de los usuarios serán compartidos únicamente con Google, dado que esta empresa gestiona la plataforma integrada en la Aplicación.
          La información recopilada se utilizará para mejorar la experiencia del usuario y personalizar el contenido.
        </p>

        <h2 class="contenido">6. Alcance Geográfico</h2>
        <p>
          La Aplicación está dirigida exclusivamente a usuarios dentro del territorio español, ya que proporciona información relevante únicamente para España.
        </p>

        <h2 class="contenido">7. Uso de Cookies y LocalStorage</h2>
        <p>
          Es posible que la aplicación utilice cookies de terceros para almacenar datos sobre las preferencias de búsqueda del usuario, con el fin de mejorar y
          personalizar la experiencia de uso.
        </p>

        <h2 class="contenido">8. Contacto</h2>
        <p>
          Para cualquier consulta o cuestión relacionada con estas condiciones de uso, puede ponerse en contacto con el Desarrollador a través del correo
          electrónico: <a href="mailto:jcooldevelopment@gmail.com">jcooldevelopment&#64;gmail.com</a>.
        </p>

        <h2 class="contenido">9. Limitación de Responsabilidad</h2>
        <p>
          El Desarrollador no se hace responsable de ningún daño o perjuicio derivado del uso de la Aplicación. La utilización de la misma está bajo la responsabilidad
          y riesgo del usuario. Al utilizar la Aplicación, usted confirma que ha leído, entendido y aceptado estas condiciones de uso en su totalidad.
        </p>

      </ion-text>
    </ion-row>
  </ion-grid>

</ion-content>
