<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <label for="usuario">Usuario: </label>
    <input id="usuario" type="text" formControlName="usuario">
  
    <label for="contrasena">Contraseña: </label>
    <input id="contrasena" type="password" formControlName="contrasena">
  
    <button type="submit">Enviar</button>

  </form>

  <p>Form status: {{ loginForm.status }}</p>

  <button (click)="cerrarsesion()">ADIOS</button>
</ion-content>
