<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-text class="ion-text-center">
    <h1 class="page-title">El tiempo</h1>
  </ion-text>
  
  <ion-segment [scrollable]="true" value="nacional" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="nacional">
      <ion-text>Nacional</ion-text>
    </ion-segment-button>
    <ion-segment-button value="local">
      <ion-text>Local</ion-text>
    </ion-segment-button>
    <ion-segment-button value="isobaras">
      <ion-text>Isobaras</ion-text>
    </ion-segment-button>
  </ion-segment>
  
  <!-- El contenido que se mostrará dependiendo del botón seleccionado -->
  @switch (selectedSegment) {

    @case ('nacional') {
      <app-eltiemponacional></app-eltiemponacional>
    }

    @case ('local') {
      <app-eltiempolocal></app-eltiempolocal>
    }

    @case ('isobaras') {
      <app-eltiempoisobaras></app-eltiempoisobaras>
    }

    @default {
      <p>Este es el defecto</p>
    }
  }
  

</ion-content>
