<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Error</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="error-container">
    <ion-img src="../../assets/notfound.png" alt="error404" class="error404"></ion-img>
    <ion-text class="error-text ion-margin">Lo sentimos, el recurso al que trata de acceder no existe en la aplicación.</ion-text>
  </div>

  <div class="ion-text-center">
    <ion-button href="/">Volver a la portada</ion-button>
  </div>
</ion-content>
