<ion-header [translucent]="true">
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
 
  <!-- Mostrar la noticia si hay -->  
  @if (noticia) {
  <ion-text class="ion-text-center">
    <h1 class="page-title">{{ noticia.title }}</h1>
  </ion-text>

  <ion-grid>
    <ion-card>
      
        <ion-img src="{{ noticia.image }}" alt="imagen"></ion-img>
        <br>
        <ion-text>
          <ion-label>
            <h3>{{ fecha | date:'fullDate' }}</h3>
            <h3 class="autor"> Autor: {{ noticia.authors }}</h3>
            <hr class="ion-row-gray">
            <span *ngIf="contenido" class="contenido" [innerHtml]="this.contenido"></span>
          </ion-label>
          
          <hr class="ion-row-gray">
          <p>Lee la noticia en el sitio web de su autor <a href="{{ noticia.url }}">aquí</a>. </p>
      </ion-text>
      
    </ion-card>
  </ion-grid>

  <!-- Mensaje de error -->
  } @else if (errorMessage) {
    <ion-text class="ion-text-center">
      <h1 class="page-title">{{ errorMessage }}</h1>
    </ion-text>

  <!-- Spinner + Mensaje cargando -->
  } @else {
    <ion-item class="ion-margin ion-estado">
      <ion-spinner color="primary" class="ion-margin-end"></ion-spinner>
      <ion-text>Cargando...</ion-text>
    </ion-item>
  }

</ion-content>
